<h1><%= @course.origin.name %> to <%= @course.destination.name %></h1>
<p>Mileage: <%= @course.miles %></p>

<p><%= link_to 'Edit', edit_course_path(@course) %> | <%= link_to 'Back', courses_path %></p>
