<ul>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Carriers', carriers_path %></li>
	<li><%= link_to 'Origins', origins_path %></li>
	<li><%= link_to 'Destinations', '#' %></li>
	<li><%= link_to 'Routes', '#' %></li>
	<li><%= link_to 'Rates', '#' %></li>
</ul>